.card {
  background-color: #fff;
  padding: 10px;
}

.card__title {
  color: #282828;
  font-size: 14px;
}

.card__description {
  color: #282828;
  font-size: 12px;
}

.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 50px;
}

.header {
  background-color: #fff;
  height: 20px;
  width: 100%;
}

.body {
  background-color: #c4c4c4;
  padding: 15px;
}

.footer {
  background-color: #fff;
  height: 10px;
  width: 100%;
}

.container {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media screen and (max-width: 768px) {
    .card__title{
        font-size: 10px;
    }
    .card__description{
        font-size: 8px;
    }
}
@media screen and (max-width: 320px) {
    .card__title{
        font-size: 8px;
    }
    .card__description{
        font-size: 0px;
    }

}
