.card {
    background-color: #fff;
    padding: 10px;
}

.card__title {
    color: #282828;
    font-size: 14px;
}

.card__description {
    color: #282828;
    font-size: 12px;
}

.card__img-top {
    width: 288px;
    height: 182px;
    margin-bottom: 50px;
}

.header {
    background-color: #fff;
    height: 20px;
    width: 500px;
}

.body {
    background-color: #c4c4c4;
    padding: 15px;
}

.footer {
    background-color: #fff;
    height: 10px;
    width: 500px;
}